/*  =========================================================================
    VARIABLES
    ========================================================================= */

/*  Spacing and sizes
*/
$global-content-width: 1440px !global;

/*  Font & Typography
*/
$global-font-weight:         get-base-font-weight('light') !global;
$global-font-weight--header: get-base-font-weight('semibold') !global;

/*  Special
*/
$global-gallery-speed: 300ms !global;
$global-skew: 1.5deg !global;
