/*  =========================================================================
    SPACING
    ========================================================================= */
$base-spacing: 16 !default; // In pixels

$base-spacings: (
    'base': $base-spacing,
    'xs':   ($base-spacing / 4),
    'sm':   ($base-spacing / 2),
    'md':   $base-spacing,
    'lg':   ($base-spacing * 2),
    'xl':   ($base-spacing * 4),
    'xxl':  ($base-spacing * 8)
) !default;

@function get-spacing($key: null, $is-rem: null) {
    @if (map-has-key($base-spacings, $key)) {
        $spacing: map-get($base-spacings, $key);

        @if ($is-rem == null) {
            @return $spacing * 1px;
        }
        @else if ($is-rem == true) {
            @return calculateRem($spacing);
        }
        @else {
            @error '$is-rem needs a value of ´true´ or ´null´!';
        }
    }
    @else {
        @if ($key == null) {
            @error 'Missing spacing value! Available spacings: ´#{map-keys($base-spacings)}´';
        }
        @else {
            @error 'Invalid spacing: ´#{$key}´! Available font sizes: ´#{map-keys($base-spacings)}´';
        }
    }
}
