/*  =========================================================================
    RATIO - TOOLS
    ========================================================================= */

/*  The map keys are the strings used in the generated class names, and they can
    follow any convention, as long as they are properly escaped strings. i.e.:

    $base-ratios: (
        'square':       (1:1),
        'sixteen-nine': (16:9),
        'four-three':   (4:3),
        'portrait':     (224:168),
        'golden':       (1.618:1) -> non-integers are okay
    ) !default;
*/
$base-ratios: (
    'square':       (1:1),
    'sixteen-nine': (16:9),
    'four-three':   (4:3),
    'portrait':     (168:224),
    'golden':       (1.618:1)
) !default;

$base-ratio-overflow: .5% !default;

@function get-ratio-from-map($key: null, $map: $base-ratios) {
    @if (map-has-key($map, $key)) {
        @return map-get($map, $key);
    }
    @else if ($key == null) {
        @error 'Missing ratio! Available ratios: ´#{map-keys($map)}´';
    }
    @else {
        @error 'Invalid ratio: ´#{$key}´! Available ratios: ´#{map-keys($map)}´';
    }
}

@function get-ratio-value($ratio) {
    @if (type-of($ratio) != map) {
        @error '`#{$ratio}` needs to be a map as such: `(16:9)`!';
    }

    $antecedent: nth(map-keys($ratio), 1);
    $consequent: map-get($ratio, $antecedent);

    @if (type-of($antecedent) != number) {
        @error '`#{$antecedent}` needs to be a number!';
    }

    @if (type-of($consequent) != number) {
        @error '`#{$consequent}` needs to be a number!';
    }

    @return decimal-round(($consequent/$antecedent) * 100%, 3);
}


/*  Mixin for setting the calculated ratio value with padding-bottom

    Usage:
    .something {
        &:before {
            @include set-ratio()
        }
    }

    $ratio  - REQUIRED! Value for ratio [map | string]
    $ratios - Map of ratios. If left empty, it defaults to use $base-ratios on string
              input in $ratio
*/
@mixin set-ratio($ratio: null, $ratios: null) {
    @if (type-of($ratio) == map) {
        padding-bottom: get-ratio-value($ratio);
    }
    @else if (type-of($ratio) == string) {
        @if ($ratios) {
            padding-bottom: get-ratio-value(get-ratio-from-map($ratio, $ratios));
        }
        @else {
            padding-bottom: get-ratio-value(get-ratio-from-map($ratio));
        }
    }
    @else {
        @error '`#{$ratio}` needs to be a map or string as such: `(16:9)` or `sixteen-nine`';
    }
}


/*  Mixin for ratio stretch and fit
*/
@mixin set-ratio-stretch() {
    @include fill-absolute('xy');
    transform: none;
    width: 100%;
    height: 100%;
}

@mixin set-ratio-fit($direction: null, $overflow: $base-ratio-overflow) {
    @if (is-percentage($overflow)) {
        @if ($direction == 'horz') {
            width: (100% + $overflow);
            height: auto;
        }
        @else if ($direction == 'vert') {
            width: auto;
            height: (100% + $overflow);
        }
        @else {
            @error '`#{$direction}` is invalid! Needs to be ´vert´ or ´horz´';
        }
    }
    @else {
        @error '`#{$overflow}` needs to be a percetange value (%)';
    }
}


/*  For fancy custom ratios including breakpoints

    There is no default/base map for this mixin, as it is custom.
    Instead make your own variable containing a map, as the 2nd
    parameter for this mixin.

    Usage:
    $foo: (
        0: (1:2),
        2: 40%,
        4: 712px
    );

    @include set-custom-ratio($foo);
*/


@mixin set-custom-ratio($custom-ratio: null) {
    @if (type-of($custom-ratio) == 'map') {
        $breakpoints: map-keys($custom-ratio);

        @each $breakpoint in $breakpoints {
            $value: map-get($custom-ratio, $breakpoint);

            @include bp-min($breakpoint) {
                @if (type-of($value) == map) {
                    padding-bottom: get-ratio-value($ratio);
                }
                @else if (is-relative-length($value) or is-absolute-length($value) or is-percentage($value)) {
                    padding-bottom: #{$value};
                }
                @else {
                    @error 'Invalid ratio value: #{$value}! Needs to be a map, relative/absolute unit or percentage';
                }
            }
        }
    }
    @else if ($custom-ratio == null) {
        @error 'Missing ratio: #{$custom-ratio}! Needs a map input';
    }
    @else {
        @error 'Invalid ratio: #{$custom-ratio}! Needs a map input';
    }
}
