/*  =========================================================================
    FUNCTIONS
    ========================================================================= */

/*  Used to calculate rem (and em for media queries).

    It is based on the default font-size of a browser, which is 16px. If this is changed
    the value "16" needs to be changed to fit
*/
@function calculateRem($value, $is-root: true) {
    $em-value: ($value / 16);

    @if ($is-root) {
        @return #{$em-value}rem;
    }
    @else {
        @return #{$em-value}em;
    }
}


/*  For getting deep maps (maps in maps)

    Usage:
    map-deep-get([map], [key], [key])
*/
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}


/*  Check if value exists in a given list

    Usage:
    list-contains([list], [value]);
*/
@function list-contains($list, $value) {
    $contains: false;

    @each $item in $list {
        @if ($item == $value) {
            $contains: true;
        }
    }

    @return $contains;
}


/*  Is checks

    Usage:
    is-number([value]);
*/
@function is-number($value) {
    @return type-of($value) == 'number';
}

@function is-color($value) {
    @return type-of($value) == 'color';
}


/*  Round, Ceil and Floor functions

    Credit:
    _decimal.scss | MIT License | gist.github.com/terkel/4373420

    Usage:
    decimal-round([value], [no. of decimals], [mode]);

    Examples:
    decimal-round(0.333)    => 0
    decimal-round(0.333, 1) => 0.3
    decimal-round(0.333, 2) => 0.33
*/
@function decimal-round($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if (type-of($number) != number) {
        @warn '#{$number} is not a number!';
        @return $number;
    }

    // $digits must be a unitless number
    @if (type-of($digits) != number) {
        @warn '#{$digits} is not a number!';
        @return $number;
    }
    @else if (not unitless($digits)) {
        @warn '#{$digits} has a unit!';
        @return $number;
    }

    @for $i from 1 through $digits {
        $n: ($n * 10);
    }

    @if ($mode == round) {
        @return round($number * $n) / $n;
    }
    @else if ($mode == ceil) {
        @return ceil($number * $n) / $n;
    }
    @else if ($mode == floor) {
        @return floor($number * $n) / $n;
    }
    @else {
        @warn '#{$mode} is undefined keyword!';
        @return $number;
    }
}

/*  Usage:
    decimal-ceil([value], [no. of decimals]);
*/
@function decimal-ceil($number, $digits: 0) {
    @return decimal-round($number, $digits, ceil);
}

/*  Usage:
    decimal-floor([value], [no. of decimals]);
*/
@function decimal-floor ($number, $digits: 0) {
    @return decimal-round($number, $digits, floor);
}

/*  Type functions

    Usage:
    @if (is-angle($angle)) {
        // Do something if is angle unit
    }
*/
@function is-number($value) {
    @return type-of($value) == 'number';
}

@function is-time($value) {
    @return is-number($value) and index('ms' 's', unit($value)) != null;
}

@function is-duration($value) {
    @return is-time($value);
}

@function is-angle($value) {
    @return is-number($value) and index('deg' 'rad' 'grad' 'turn', unit($value)) != null;
}

@function is-frequency($value) {
    @return is-number($value) and index('Hz' 'kHz', unit($value)) != null;
}

@function is-integer($value) {
    @return is-number($value) and round($value) == $value;
}

@function is-relative-length($value) {
    @return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

@function is-absolute-length($value) {
    @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

@function is-percentage($value) {
    @return is-number($value) and unit($value) == '%';
}

@function is-length($value) {
    @return is-relative-length($value) or is-absolute-length($value);
}

@function is-resolution($value) {
    @return is-number($value) and index('dpi' 'dpcm' 'dppx', unit($value)) != null;
}

@function is-position($value) {
    @return is-length($value) or is-percentage($value) or index('top' 'right' 'bottom' 'left' 'center', $value) != null;
}
