/*  =========================================================================
    COLOR
    ========================================================================= */

$base-color-pallette: (
    'base': #0da385,
    'alt': #04224f,
    'success': #2ecc71,
    'warning': #f39c12,
    'danger': #c0392b
) !default;

$base-type-colors: (
    'base': #333,
    'alt': #f9fcfb,
    'header': #333,
    'link': #0E816B
) !default;

$base-ui-colors: (
    'white':        #fff,
    'lighter-grey': #d8d8d8,
    'grey':         #9b9b9b,
    'darker-grey':  #4a4a4a,
    'blackish':     #333
) !default;

$base-debug-colors: (
    'red': rgba(255, 0, 0, .3),
    'green': rgba(0, 255, 0, .3),
    'blue': rgba(0, 222, 255, .3)
) !default;

@function get-color($color: null, $colors: $base-color-pallette) {
    @if (map-has-key($colors, #{$color})) { // Interpolation due to sass handling color names like 'grey'
        @return map-get($colors, #{$color});
    }
    @else {
        @if ($color == null) {
            @error 'Missing color value! Available color values: #{map-keys($colors)}';
        }
        @else {
            @error 'Invalid color value: #{$color}! Available color values: #{map-keys($colors)}';
        }
    }
}

@function get-type-color($color: null) {
    @if (map-has-key($base-type-colors, #{$color})) { // Interpolation due to sass handling color names like 'grey'
        @return map-get($base-type-colors, #{$color});
    }
    @else {
        @if ($color == null) {
            @error 'Missing type color! Available type color: #{map-keys($base-type-colors)}';
        }
        @else {
            @error 'Invalid type color: #{$color}! Available type colors: #{map-keys($base-type-colors)}';
        }
    }
}

@function get-ui-color($color: null) {
    @if (map-has-key($base-ui-colors, #{$color})) { // Interpolation due to sass handling color names like 'grey'
        @return map-get($base-ui-colors, #{$color});
    }
    @else {
        @if ($color == null) {
            @error 'Missing ui color! Available ui color: #{map-keys($base-ui-colors)}';
        }
        @else {
            @error 'Invalid ui color: #{$color}! Available ui colors: #{map-keys($base-ui-colors)}';
        }
    }
}

@function get-debug-color($color: null) {
    @if (map-has-key($base-debug-colors, #{$color})) { // Interpolation due to sass handling color names like 'grey'
        @return map-get($base-debug-colors, #{$color});
    }
    @else {
        @if ($color == null) {
            @warn 'Missing debug color! Available debug color: #{map-keys($base-debug-colors)}';
        }
        @else {
            @warn 'Invalid debug color: #{$color}! Available debug colors: #{map-keys($base-debug-colors)}';
        }
    }
}
