/*  =========================================================================
    TYPOGRAHPY - TOOLS
    ========================================================================= */

/*  Our supported line heights
*/
$base-line-heights: (
    'base':    1.5,
    'heading': 1.25
) !default;

@function get-base-line-height($key: null) {
    @if (map-has-key($base-line-heights, $key)) {
        @return map-get($base-line-heights, $key);
    }
    @else if ($key == null) {
        @error 'Missing line height! Available line heights: ´#{map-keys($base-line-heights)}´';
    }
    @else {
        @error 'Invalid line height: ´#{$key}´! Available line heights: ´#{map-keys($base-line-heights)}´';
    }
}


/*  Our supported font families
*/
$base-font-families: (
    'base':    '"Raleway", sans-serif',
    'heading': '"Raleway", sans-serif'
) !default;

@function get-base-font-family($key: null) {
    @if (map-has-key($base-font-families, $key)) {
        @if ($key == 'base') or not (map-get($base-font-families, $key) == map-get($base-font-families, 'base')) {
            @return map-get($base-font-families, $key);
        }
        @else {
            @return null;
        }
    }
    @else if ($key == null) {
        @error 'Missing line height! Available line heights: ´#{map-keys($base-font-families)}´';
    }
    @else {
        @error 'Invalid line height: ´#{$key}´! Available line heights: ´#{map-keys($base-font-families)}´';
    }
}


/*  Our supported font weights
*/
$base-font-weights: (
    'hairline': 100,
    'thin':     200,
    'light':    300,
    'regular':  400,
    'normal':   400,
    'medium':   500,
    'semibold': 600,
    'bold':     700,
    'strong':   700,
    'heavy':    800,
    'black':    900
) !default;

@function get-base-font-weight($key) {
    @if (map-has-key($base-font-weights, $key)) {
        @return map-get($base-font-weights, $key);
    }
    @else if ($key == null) {
        @error 'Missing weight! Available weights: ´#{map-keys($base-font-weights)}´';
    }
    @else {
        @error 'Invalid weight: ´#{$key}´! Available weights: ´#{map-keys($base-font-weights)}´';
    }
}

/*  This is a list of our font size scale. The idea is that this is the only font sizes
    that should be used. It is supported by a font sizing mixin.

    The values are based on a scale of 1.125, and rounded to nearest whole number.
    See more here: https://type-scale.com/?size=16&scale=1.125&text=A%20Visual%20Type%20Scale&font=Lato&fontweight=300
*/
$base-font-sizes: (
    10, 11, 12,
    14, 16, 18, 20,
    23, 26, 29, 32,
    36, 41, 46,
    52, 58, 66, 74,
    83, 94
) !default;

@function get-base-font-size($size--in) {
    $size--out: null;

    @if (list-contains($base-font-sizes, $size--in)) {
        @if (list-contains($base-font-sizes, $size--in)) {
            $size--out: $size--in;
        }
        @return $size--out;
    }
    @else if ($size--in == null) {
        @error 'Missing font size value! Available font sizes: ´#{$base-font-sizes}´';
    }
    @else {
        @error 'Invalid font size: ´#{$size--in}´! Available font sizes: ´#{$base-font-sizes}´';
    }
}


/*  We also provide some predefined type styles. This map can be extended on a components
    level.
*/
$type-styles: (
    'base': (
        0: (
            'font-family': get-base-font-family('base'),
            'font-size':   get-base-font-size(16),
            'font-weight': get-base-font-weight('light'),
            'line-height': get-base-line-height('base')
        ),
        4: (
            'font-size': get-base-font-size(18)
        )
    ),
    'alpha': (
        0: (
            'font-family': get-base-font-family('heading'),
            'font-size':   get-base-font-size(46),
            'font-weight': get-base-font-weight('thin'),
            'line-height': get-base-line-height('heading')
        ),
        $global-mobile-bp: (
            'font-size': get-base-font-size(52)
        ),
        4: (
            'font-size': get-base-font-size(58)
        )
    ),
    'beta': (
        0: (
            'font-family': get-base-font-family('heading'),
            'font-size':   get-base-font-size(32),
            'font-weight': get-base-font-weight('thin'),
            'line-height': get-base-line-height('heading')
        ),
        $global-mobile-bp: (
            'font-size': get-base-font-size(36)
        ),
        4: (
            'font-size': get-base-font-size(41)
        )
    ),
    'gamma': (
        0: (
            'font-family': get-base-font-family('heading'),
            'font-size':   get-base-font-size(23),
            'font-weight': get-base-font-weight('light'),
            'line-height': get-base-line-height('heading')
        ),
        $global-mobile-bp: (
            'font-size': get-base-font-size(26)
        ),
        4: (
            'font-size': get-base-font-size(29)
        )
    ),
    'delta': (
        0: (
            'font-family': get-base-font-family('heading'),
            'font-size':   get-base-font-size(20),
            'font-weight': get-base-font-weight('light'),
            'line-height': get-base-line-height('heading')
        ),
        $global-mobile-bp: (
            'font-size': get-base-font-size(23)
        )
    ),
    'epsilon': (
        0: (
            'font-family': get-base-font-family('heading'),
            'font-size':   get-base-font-size(14),
            'font-weight': get-base-font-weight('light'),
            'line-height': get-base-line-height('heading')
        ),
        $global-mobile-bp: (
            'font-size': get-base-font-size(16)
        )
    ),
    'zeta': (
        0: (
            'font-family': get-base-font-family('heading'),
            'font-size':   get-base-font-size(12),
            'font-weight': get-base-font-weight('light'),
            'line-height': get-base-line-height('heading')
        )
    ),
    'legal': (
        0: (
            'font-family': get-base-font-family('heading'),
            'font-size':   get-base-font-size(10),
            'font-weight': get-base-font-weight('normal'),
            'line-height': get-base-line-height('base')
        )
    )
) !default;


/*  Simple font-sizing mixin that gives your unitless value (in pixels) in rem units

    Usage:
    @include font-rem([value]);
*/
@mixin font-rem($value, $important: false) {
    @if not ($important) {
        font-size: calculateRem($value); // value, is-root
    }
    @else {
        @if ($value) { font-size: calculateRem($value) !important; } // value, is-root
    }
}


/*  Mixin for easy font-sizing, that is based on the map '$font-sizes'

    $size - REQUIRED!

    Usage:
    @include font-size([value]);
*/
@mixin font-size($size: null, $important: false) {
    @include font-rem(get-base-font-size($size), $important: $important);
}


/*  Mixin for easy applying predefined type styles, that is based on the map '$type-styles'

    Usage:
    @include type-style([key]);
*/
@mixin type-style($style: null, $types: $type-styles, $only-font-size: false, $important: false) {
    @if (map-has-key($types, $style)) {
        $type: map-get($types, $style);
        $breakpoints: map-keys($type);

        @each $breakpoint in $breakpoints {
            $declarations: map-get($type, $breakpoint);
            $font-family:  map-get($declarations, 'font-family');
            $font-size:    map-get($declarations, 'font-size');
            $font-weight:  map-get($declarations, 'font-weight');
            $line-height:  map-get($declarations, 'line-height');

            @include bp-min($breakpoint) {
                @if not ($important) {
                    @include font-size($font-size);

                    @if ($only-font-size != true) {
                        font-family: #{$font-family};
                        font-weight: $font-weight;
                        line-height: $line-height;
                    }
                }
                @else {
                    @include font-size($font-size, $important: $important);

                    @if ($only-font-size != true) {
                        @if ($font-family) { font-family: #{$font-family} !important; }
                        @if ($font-weight) { font-weight: $font-weight !important; }
                        @if ($line-height) { line-height: $line-height !important; }
                    }
                }
            }
        }
    }
    @else if ($style == null) {
        @error 'Missing type style! Available type styles: #{map-keys($types)}';
    }
    @else {
        @error 'Invalid type style: #{$style}! Available type styles: #{map-keys($types)}';
    }
}
