/*  =========================================================================
    MIXINS
    ========================================================================= */

/*  For easy filling an element to it's nearest positioned parent

    Usage:
    @include fill-absolute([dimension]);
*/
@mixin fill-absolute($dimension: null) {
    $dimensions: (
        xy, x, y
    );

    @if (list-contains($dimensions, $dimension)) {
        position: absolute;

        @if ($dimension == x) or ($dimension == xy) {
            left: 0;
            right: 0;
        }

        @if ($dimension == y) or ($dimension == xy) {
            top: 0;
            bottom: 0;
        }
    }
    @else if ($dimension == null) {
        @error 'Missing dimension! Available dimensions: ´#{$dimensions}´';
    }
    @else {
        @error 'Invalid dimension: ´#{$dimension}´! Available dimensions: ´#{$dimensions}´';
    }
}


/*  For easy filling an element to it's nearest positioned parent

    Usage:
    @include fill-absolute([dimension]);
*/

@mixin center-absolute($dimension: null, $transform-only: false) {
    $dimensions: (
        xy, x, y
    );

    @if (list-contains($dimensions, $dimension)) {
        position: absolute;

        @if not $transform-only {
            @if ($dimension == 'xy') or ($dimension == 'y') {
                top: 50%;
            }
            @if ($dimension == 'xy') or ($dimension == 'x') {
                left: 50%;
            }
        }

        @if ($dimension == 'xy') { transform: translate(-50%, -50%); }
        @if ($dimension == 'x') {  transform: translateX(-50%); }
        @if ($dimension == 'y') {  transform: translateY(-50%); }
    }
    @else if ($dimension == null) {
        @error 'Missing dimension! Available dimensions: ´#{$dimensions}´';
    }
    @else {
        @error 'Invalid dimension: ´#{$dimension}´! Available dimensions: ´#{$dimensions}´';
    }
}


/*  To add the frameworks default hover effect, which usually is opacity change
*/
@mixin hover($opacity: null, $opacity-only: false) {
    $opacities: (
        'txt':     .7,
        'img':     .8,
        'obvious': .6,
        'subtle':  .9
    );

    @if (map-has-key($opacities, $opacity)) {
        @if ($opacity-only == false) {
            &:hover,
            &:active,
            &:focus {
                opacity: map-get($opacities, $opacity);
            }
        }
        @else {
            opacity: map-get($opacities, $opacity);
        }
    }
    @else if ($opacity == null) {
        @error 'Missing opacity! Available opacities: ´#{map-keys($opacities)}´';
    }
    @else {
        @error 'Invalid opacity: ´#{$opacity}´! Available opacities: ´#{map-keys($opacities)}´';
    }
}


/*  For setting a div to have the right max content width
*/
@mixin content-width() {
    max-width: $base-content-width;
    padding: 0 get-spacing('sm');

    @include bp-min($global-mobile-bp) {
        padding: 0 get-spacing('md');
    }
}


/*  Mixin that can be used to write css that will only be compiled if $debug-enabled is set to 'true'
*/
@mixin debug {
    @if ($debug-enabled == true) {
        @content
    }
}
