/*  =========================================================================
    GRID - TOOLS
    ========================================================================= */

$base-grid-columns: 12 !default;

$base-grid-gutters: (
    'default': (
        0: get-spacing(sm),
        $global-mobile-bp: get-spacing(md)
    ),
    'collapsed': (
        0: 0
    ),
    'xs': (
        0: get-spacing(xs)
    ),
    'sm': (
        0: get-spacing(sm)
    ),
    'md': (
        0: get-spacing(md)
    ),
    'lg': (
        0: get-spacing(lg)
    ),
    'xl': (
        0: get-spacing(xl)
    ),
    'xxl': (
        0: get-spacing(xxl)
    )
) !default;

@mixin grid-gutter-test($gutter, $gutters) {
    @if ($gutter == null) {
        @error 'Missing gutter value! Available gutter values: #{map-keys($gutters)}';
    }
    @else {
        @error 'Invalid gutter value: #{$gutter}! Available gutter values: #{map-keys($gutters)}';
    }
}



/*  Mixins that creates the css needed for a grid row and grid columns

    $gutter  - REQUIRED! Value for custom grid (will be validated against $gutters)
    $gutters - Map of gutters. Here for custom gutters if needed, but defaults to $grid-gutters
    $inset   - Null for horizontal gutters only. True for gutter on all 4 sides of the column
    $init    - True for initial styling of rows. Null for only changing the gutter size

    Usage:
    .o-grid {
        @include make-grid-row([true or value], [map], [null or true], [true or null]);
    }

    Examples:
    make-grid-row(default)                 => default gutter, default gutter map, no inset, includes initial row properties
    make-grid-row(l, $init: null)          => medium gutter, default gutter map, no inset, no initial row properties
    make-grid-row(collapsed, $inset: true) => collapsed gutter, default gutter map, inset spacing, includes initial row properties

    1. Defensively resetting box-model properties
    2. So we can turn lists into a grid too
    3. Use the negative margin trick for multi-row grids
*/
@mixin make-grid-row($gutter: null, $gutters: $base-grid-gutters, $inset: null, $init: true) {
    @if ((type-of($gutters) == 'map') and map-has-key($gutters, $gutter)) {
        $gutter-map: map-get($gutters, $gutter);
        $breakpoints: map-keys($gutter-map);

        @if (($init != null) and ($init == true)) {
            margin: 0; //1
            padding: 0; //1
            list-style: none; //2
            display: flex;
            flex: 1 1 auto;
            flex-wrap: wrap;
        }
        @each $breakpoint in $breakpoints {
            $value: map-get($gutter-map, $breakpoint);

            @include bp-min($breakpoint) {
                @if (($inset == null) and ($inset != true)) {
                    margin-left: ($value * -1); //3
                }
                @else {
                    margin: ($value / -2); //3
                }
            }
        }
    }
    @else {
        @include grid-gutter-test($gutter, $gutters);
    }
}

/*  Usage:
    .o-grid__item {
        @include make-grid-col-init([true or value], [null or true], [true or null]);
    }

    Examples:
    make-grid-col-init(default)          => default gutter, default gutter map, no inset, includes initial col properties
    make-grid-col-init(l, $init: null)   => medium gutter, default gutter map, no inset, no initial col properties
    make-grid-col-init(xs, $inset: true) => extra small gutter, default gutter map, inset spacing, includes initial col properties

    1. Required in order to combine fluid widths with fixed gutters
    2. So that columns does not collapse vertically
    3. Making sure that column dosn't shrink, but auto fits if no column width is set (max-width & flex-basis on column widths ensure this behavior)
    4. Gutters provided by padding
*/
@mixin make-grid-col-init($gutter: null, $gutters: $base-grid-gutters, $inset: null, $init: true) {
    @if ((type-of($gutters) == 'map') and map-has-key($gutters, $gutter)) {
        $gutter-map: map-get($gutters, $gutter);
        $breakpoints: map-keys($gutter-map);

        @if (($init != null) and ($init == true)) {
            box-sizing: border-box; //1
            min-height: 1px; //2
            flex: 1 0 auto; //3
        }
        @each $breakpoint in $breakpoints {
            $value: map-get($gutter-map, $breakpoint);

            @if ($value != null) {
                @include bp-min($breakpoint) {
                    @if (($inset == null) and ($inset != true)) {
                        padding-left: $value; //4
                    }
                    @else {
                        padding: ($value / 2); //4
                    }
                }
            }
        }
    }
    @else {
        @include grid-gutter-test($gutter, $gutters);
    }
}


/*  Grid column span calculator

    $span    - REQUIRED! Value for grid span. Cannot be larger than $columns
    $columns - Default value is $base-grid-columns (12 columns), but change this value if you want less or more columns

    Usage:
    .o-grid__item {
        @include make-grid-col-init([true or value], [null or true], [true or null]);
        @include make-grid-col([value], [value]);
    }

    Examples:
    make-grid-col()     => Fails build with error message, needs span value
    make-grid-col(6)    => Uses default columns value (12) and calculates a flex-basis of 50% from the span value (6)
    make-grid-col(3, 5) => Uses the new columns value (5) and calculates a flex-basis of 20% from the span value (3)

    1. Making sure that the columns stays within their flex-basis. For IE10+ and Firefox.
*/
@function get-grid-span($span: null, $columns: $base-grid-columns) {
    @if (is-number($span)) {
        @if ($span <= $columns) {
            $calculated-span: (($span / $columns) * 100%);
            @return $calculated-span;
        }
        @else {
            @error 'Span value (#{$span}) is greater than the ammount of columns (#{$columns})';
        }
    }
    @else if ($span == null) {
        @error 'Missing span value!';
    }
    @else {
        @error 'Invalid span value: #{$span}! Needs to be a number!';
    }
}

@mixin make-grid-col($span: null, $columns: $base-grid-columns) {
    $calculated-span: get-grid-span($span, $columns);

    flex-basis: $calculated-span;
    max-width: $calculated-span; //1
}
