/*  =========================================================================
    BUTTON
    ========================================================================= */

/*  1. Allow us to style box model & flex box properties
    2. Line different sized buttons up a little nicer
    4. Allows us to use position properties
    5. Center text and icons in buttons
    6. Reset/normalize some styles
    7. Hover effect
*/

@mixin make-btn-init() {
    display: inline-flex; // 1
    vertical-align: middle; // 2
    position: relative; // 4
    align-items: center; // 5
    justify-content: center; // 5

    // 6
    appearance: none;
    cursor: pointer;
    text-align: center;
    color: inherit;
    border: 0;
    padding: 0;
    user-select: none;
    white-space: nowrap;
    background-color: transparent;

    &,
    &:hover,
    &:active,
    &:focus {
        // 6
        text-decoration: none;
        outline: none;
    }

    @include hover('txt'); // 7
}
