/*  =========================================================================
    RESPONSIVE
    ========================================================================= */

/*  This is our list of breakpoints. Add your value as pixels, but keep it unitless!

    The idea is that it's based on numbers and the amount of breakpoints,
    as convetions as "medium" or "tablet" isn't very transparent.

    Based on this article: https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862

    This map can be extended on a components level, using "map-merge".
*/
$global-mobile-bp: 2 !default;
$global-tablet-bp: 3 !default;

$base-breakpoints: (
    0: null,
    1: 600,
    2: 900,
    3: 1200,
    4: 1600,
    5: 2200,
) !default;

@mixin bp-test($breakpoint, $breakpoints: $base-breakpoints) {
    @if ($breakpoint == null) {
        @error 'Missing breakpoint! Available breakpoints: ´#{map-keys($breakpoints)}´';
    }
    @else {
        @error 'Invalid breakpoint: ´#{$breakpoint}´! Available breakpoints: ´#{map-keys($breakpoints)}´';
    }
}


/*  Mixins for min and max media queries

    Usage:
    @include bp-min([value]) {
        // Your styles here
    }

    @include bp-max([value]) {
        // Your styles here
    }
*/
@mixin bp-min($breakpoint: null, $breakpoints: $base-breakpoints) {
    @if (map-has-key($breakpoints, $breakpoint)) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @if ($breakpoint-value == null) {
            @content;
        }
        @else {
            @media (min-width: calculateRem(map-get($breakpoints, $breakpoint), false)) {
                @content;
            }
        }
    }
    @else {
        @include bp-test($breakpoint, $breakpoints);
    }
}

@mixin bp-max($breakpoint: null, $breakpoints: $base-breakpoints) {
    @if (map-has-key($breakpoints, $breakpoint)) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @if ($breakpoint-value == null) {
            @error '´#{$breakpoint}´ is not valid in bp-max! Available breakpoints: ´#{map-keys($breakpoints)}´';
        }
        @else {
            @media (max-width: calculateRem((map-get($base-breakpoints, $breakpoint) - 1), false)) {
                @content;
            }
        }
    }
    @else {
        @include bp-test($breakpoint, $breakpoints);
    }
}


/*  Mixin for min-max media query

    Usage:
    @include bp-min-max([value], [value]) {
        // Your styles here
    }
*/
@mixin bp-min-max($breakpoint-min: null, $breakpoint-max: null, $breakpoints: $base-breakpoints) {
    @if (map-has-key($breakpoints, $breakpoint-min) and map-has-key($breakpoints, $breakpoint-max)) {
        $min: map-get($breakpoints, $breakpoint-min);
        $max: map-get($breakpoints, $breakpoint-max);

        @if ($min < $max) {
            @if ($breakpoint-min == 0) {
                @media (min-width: $breakpoint-min) and (max-width: calculateRem(($max - 1), false)) {
                    @content;
                }
            }
            @else {
                @media (min-width: calculateRem($min, false)) and (max-width: calculateRem(($max - 1), false)) {
                    @content;
                }
            }
        }
        @else if ($min == $max) {
            @error 'Min (´#{$breakpoint-min}´) and Max (´#{$breakpoint-max}´) is the same';
        }
        @else {
            @error 'Min (´#{$breakpoint-min}´) is larger than Max (´#{$breakpoint-max}´)';
        }
    }
    @else {
        @include bp-test(($breakpoint-min + $breakpoint-max), $breakpoints);
    }
}
