/*  =========================================================================
    LAYOUT
    ========================================================================= */

/*  All content should be kept within a max-width of 1440px. Most components handling this them selfs,
    but we also have this set of wrapper classes.

    Usage:
    <div class="wrapper"></div>
*/
.o-wrapper {
    margin: 0 auto;
    width: 100%;
    @include content-width;

    & & {
        padding: 0;
    }
}
