/*  =========================================================================
    GRID - OBJECTS
    ========================================================================= */
/*  The grid object provides us with a column style layout system. This file has the option to
    generate a lot of unused css classes. Therefore there is a bit more configuration options
    available.

    Usage:
    <div class="grid">
        <div class="grid__item"></div>
    </div>
*/
.o-grid {
    @include make-grid-row(default);
}

.o-grid__item {
    @include make-grid-col-init(default);
}


/*  This is where we generate the .o-grid-row__col classes with sizes and breakpoints. The default
    amount of columns for the grid is 12 columns, but this can be changed in the $base-grid-columns
    variable in 'tools/_grid.scss'.

    Usage:
    <div class="grid__item  grid__item--[value]  grid__item--[value]@bp-[breakpoint]"></div>

    Example:
    <div class="grid">
        <div class="grid__item  grid__item--6  grid__item--4@bp-2"></div>
        <div class="grid__item  grid__item--6  grid__item--4@bp-2"></div>
        <div class="grid__item  grid__item--12  grid__item--4@bp-2"></div>
    </div>
*/
@if ($include--grid-column-classes == true) {
    .o-grid__item {
        @each $breakpoint, $breakpoint-value in $base-breakpoints {
            @include bp-min($breakpoint) {
                @for $span from 1 through $base-grid-columns {
                    @if ($breakpoint-value == null) {
                        &--#{$span} { // class="grid__item--[span]"
                            @include make-grid-col($span);
                        }
                    }
                    @else {
                        &--#{$span}#{$ns--breakpoint-seperator}#{$ns--breakpoint-prefix}#{$breakpoint} { // class="grid__item--[span]@bp-[breakpoint]"
                            @include make-grid-col($span);
                        }
                    }
                }
            }
        }
    }
}

/*  Grid gutter size modifiers

    Usage:
    <div class="grid  grid--[modifier]  grid--[modifier]@bp-[breakpoint]">
*/
@if ($include--grid-gutter-classes == true) {
    .o-grid {
        @each $breakpoint, $breakpoint-value in $base-breakpoints {
            @include bp-min($breakpoint) {
                @each $gutter, $values in $base-grid-gutters {
                    @if ($breakpoint-value == null) {
                        &--#{$gutter} { // class="grid--[modifier]"
                            @include make-grid-row($gutter, $init: false);

                            & > .o-grid__item {
                                @include make-grid-col-init($gutter, $init: false);
                            }
                        }
                    }
                    @else {
                        &--#{$gutter}#{$ns--breakpoint-seperator}#{$ns--breakpoint-prefix}#{$breakpoint} { // class="grid--[modifier]@bp-[breakpoint]"
                            @include make-grid-row($gutter, $init: false);

                            & > .o-grid__item {
                                @include make-grid-col-init($gutter, $init: false);
                            }
                        }
                    }
                }
            }
        }
    }
}


/*  Grid alignment/ordering modifiers

    Usage:
    <div class="grid  grid--[modifier]">
*/
$grid-alignments: (
    'top':    ('align-items', 'flex-start'),
    'left':   ('justify-content', 'flex-start'),
    'right':  ('justify-content', 'flex-end'),
    'bottom': ('align-items', 'flex-end'),
    'center': ('justify-content', 'center'),
    'middle': ('align-items', 'center'),
    'row':    ('flex-direction', 'row'),
    'row-reverse': ('flex-direction', 'row-reverse')
);

@if ($include--grid-alignment-classes == true) {
    .o-grid {
        @each $breakpoint, $breakpoint-value in $base-breakpoints {
            @include bp-min($breakpoint) {
                @each $alignment, $declaration in $grid-alignments {
                    $property: nth($declaration, 1);
                    $value: nth($declaration, 2);

                    @if ($breakpoint-value == null) {
                        &--#{$alignment}{ // class="grid--[modifier]"
                            #{$property}: #{$value};
                        }
                    }
                    @else {
                        &--#{$alignment}#{$ns--breakpoint-seperator}#{$ns--breakpoint-prefix}#{$breakpoint} { // class="grid--[modifier]@bp-[breakpoint]"
                            #{$property}: #{$value};
                        }
                    }
                }
            }
        }
    }
}
