/*  =========================================================================
    MEDIA
    ========================================================================= */

/*  The media object is an excellent and easy way of setting, usually an image, next to
    some text.

    Usage:
    <div class="o-media">
        <img class="o-media__obj" src="" alt="">

        <div class="o-media__body">
            ...
        </div>
    </div>
*/

.o-media {
    display: flex;
    align-items: flex-start;

    &__obj {
        margin-right: get-spacing(base);
    }

    &__body {
        flex-grow: 1;
    }

    &--middle {
        align-items: center;
    }
}
