/*  =========================================================================
    FORMAT
    ========================================================================= */

.o-format {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-top: percentage(9 / 16); // sixteen-nine

    &__obj {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
    }

    &--tall &__obj {
        width: 100.5%;
        height: auto;
        min-height: 100.5%;
        min-width: 0;
    }

    &--wide &__obj {
        height: 100.5%;
        width: auto;
        min-width: 100.5%;
        min-height: 0;
    }
}
