/*  =========================================================================
    NAVIGATION
    ========================================================================= */

/*  A simple navigation object that will set up a simple navigation for you.
    It also comes with some modifiers that can be used to make it behave differently.

    Usage:
    <ul class="o-nav  o-nav--stacked">
        <li>
            Foo
        </li>
    </ul>
*/
$nav-variations: (
    'inline':  row,
    'stacked': column
) !default;

.o-nav {
    display: flex;
    list-style: none;
}

.o-nav {
    @each $variation, $value in $nav-variations {
        @if ($variation != 'inline') { // Inline is default, so lets skip making the class
            &--#{$variation} { // class="nav--[modifier]"
                flex-direction: #{$value};
            }
        }
    }

    @each $breakpoint, $breakpoint-value in $base-breakpoints {
        @include bp-min($breakpoint) {
            @each $variation, $value in $nav-variations {
                @if ($breakpoint-value == null) {
                    &--#{$variation} { // class="nav--[modifier]"
                        flex-direction: #{$value};
                    }
                }
                @else {
                    &--#{$variation}#{$ns--breakpoint-seperator}#{$ns--breakpoint-prefix}#{$breakpoint} { // class="nav--[modifier]@bp-[breakpoint]"
                        flex-direction: #{$value};
                    }
                }
            }
        }
    }
}
