{{/* Base */}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ .Site.Title }}</title>
<meta name="google-site-verification" content="PRECy-a_d-LdaB3z7sXNylB1fsYno-Fn3YTfOD-a-hQ">


{{/* CSS */}}
<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,300i,700,700i" rel="stylesheet">

{{ $targetPath := "dist/styles.min.css" }}

{{ if eq hugo.Environment "development" }}
    {{ $sassOptions := (dict "targetPath" $targetPath "outputStyle" "expanded" "enableSourceMap" true) }}
    {{ $styles := resources.Get "styles/main.scss" | resources.ToCSS $sassOptions }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
{{ else }}
    {{ $sassOptions := (dict "targetPath" $targetPath) }}
    {{ $styles := resources.Get "styles/main.scss" | resources.ToCSS $sassOptions | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
{{ end }}


{{/* SEO Meta */}}
<meta name="robots" content="index, follow">
{{ with .Site.Params.seo.name }}<meta name="author" content="{{ . }}">{{ end }}
{{ with .Site.Params.seo.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
{{ with .Site.Params.seo.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}


{{/* Favicon */}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#111111">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
