{{/* Insert scripts that should be before </body> */}}
{{ $js := slice }}
{{ range .Site.Params.js.partials }}{{ $js = $js | append (resources.Get . ) }}{{ end }}
{{ $scripts := $js | resources.Concat "dist/scripts.js" }}

{{ if eq hugo.Environment "development" }}
    <script type="text/javascript" src="{{ $scripts.Permalink }}"></script>
{{ else }}
    {{ $scripts := $scripts | resources.Minify }}
    <script type="text/javascript" src="{{ $scripts.Permalink }}"></script>
{{ end }}

<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
