<div class="o-grid  o-grid--center  u-margin-top-lg  u-margin-bottom-xl  u-margin-top-xl@bp-4  u-type-center">
    <div class="o-grid__item  o-grid__item--11  o-grid__item--9@bp-2">
        <h2 class="u-type-beta  u-type-alt-color  u-type-center">
            {{ .Site.Params.galleri.hero | markdownify }}
        </h2>
    </div>
</div>

<ul class="c-gallery  u-margin-bottom-xl  u-margin-bottom-xxl@bp-4" aria-hidden="true">
    {{ range first 12 .Site.Params.galleri.images }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $imageThumb := false }}
        {{ $imageFull := false }}

        {{ if $imageResource }}
            {{ $imageWidth := string $imageResource.Width }}
            {{ $imageFullConfig := (printf "%s%s" $imageWidth "x q100 Gaussian") }}
            {{ $imageThumb = $imageResource.Resize "800x q35" }}
            {{ $imageFull = $imageResource.Resize $imageFullConfig }}
        {{ end }}

        <li class="c-gallery__item">
            <a class="c-gallery__link  js--gallery" title="Zoom" href="{{ if $imageFull }}{{ $imageFull.RelPermalink }}{{ else }}https://dummyimage.com/16:10x1000/0da385/fff.jpg&text=Billede+mangler{{ end }}">
                <div class="c-gallery__img-wrapper  c-img">
                    <div class="c-img__obj  o-format">
                        {{ if $imageThumb }}
                            <img class="c-gallery__img  o-format__obj" loading="lazy" src="{{ $imageThumb.RelPermalink }}" alt="" data-width="{{ $imageFull.Width }}" data-height="{{ $imageFull.Height }}">
                        {{ else }}
                            <img class="c-gallery__img  o-format__obj" loading="lazy" src="https://dummyimage.com/16:10x500/0da385/fff.jpg&text=Billede+mangler" alt="" data-width="500" data-height="800">
                        {{ end }}>
                    </div>
                </div>
            </a>
        </li>
    {{ end }}
</ul>
