{{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Site.Params.intro.img) }}
{{ $image := false }}

{{ if $imageResource }}
    {{ $image = $imageResource.Fill "1600x900 center q25" }}
{{ end }}

<div class="c-intro-bg  js--parallaxBg" style="background-image: url('{{ if $image }}{{ $image.RelPermalink }}{{ else }}https://dummyimage.com/16:9x900/0da385/fff.jpg&text=Billede+mangler{{ end }}')"></div>

<div class="c-intro  js--intro" data-intro-delay="2000" data-intro-speed="350">
    <div class="c-intro__txt">{{ .Site.Params.intro.text }}</div>

    <ul class="c-intro__list">
        {{ range .Site.Params.intro.list }}
            <li class="c-intro__item">
                {{ . }}
            </li>
        {{ end }}
    </ul>
</div>
