{{ define "makeLabel" }}
    {{ if .label }}
        <label class="c-form-group__label" for="{{ .id }}">
            {{ .label }} {{ if .validation_required }} <span class="c-form-group__required">&ast;</span> {{ end }}
        </label>
    {{ end }}
{{ end }}

<div class="o-grid  o-grid--center  u-margin-top-lg  u-margin-bottom-xl  u-margin-top-xl@bp-2  u-margin-bottom-xxl@bp-2  u-type-center">
    <div class="o-grid__item  o-grid__item--11  o-grid__item--9@bp-2">
        <div class="u-type-gamma  c-content">
            {{ .Site.Params.kontakt.text | markdownify }}
        </div>
    </div>
</div>

<div class="o-grid  o-grid--xl  o-grid--center  u-margin-bottom-xl">
    <div class="o-grid__item  o-grid__item--12  o-grid__item--7@bp-3">
        <form class="c-form  js--contactValidate  js--contactForm" method="post" action="https://formcarry.com/s/{{ .Site.Params.kontakt.formcarry }}" accept-charset="UTF-8">
            <div class="o-grid  o-grid--md  o-grid--right">
                <div class="o-grid__item  o-grid__item--12  o-grid__item--6@bp-1  c-form__wrapper">
                    {{ range .Site.Params.kontakt.field }}
                        {{ if ne .type "textarea" }}
                            <div class="c-form-group">
                                {{ block "makeLabel" . }}{{ end }}

                                <input
                                    class="c-form-group__control"
                                    name="{{ .id }}"
                                    id="{{ .id }}"
                                    type="{{ .type }}"
                                    {{ with .validation_required }} data-msg-required="{{ . }}" required {{ end }}
                                    {{ with .validation_minlength }} data-msg-minlength="{{ . }}" {{ end }}
                                    {{ with .validation_email }} data-msg-email="{{ . }}" {{ end }}>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>

                <div class="o-grid__item  o-grid__item--12  o-grid__item--6@bp-1  c-form__wrapper">
                    {{ range .Site.Params.kontakt.field }}
                        {{ if eq .type "textarea" }}
                            <div class="c-form-group">
                                {{ block "makeLabel" . }}{{ end }}

                                <textarea
                                    class="c-form-group__control  c-form-group__control--textarea"
                                    name="{{ .id }}"
                                    id="{{ .id }}"
                                    {{ with .validation_required }} data-msg-required="{{ . }}" required {{ end }}
                                    {{ with .validation_minlength }} data-msg-minlength="{{ . }}" {{ end }}></textarea>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>

                <div class="o-grid__item  o-grid__item--12  c-form__area">
                    <input type="hidden" name="_gotcha">

                    <div class="g-recaptcha  js--recaptcha" data-sitekey="{{ .Site.Params.kontakt.recaptchaKey }}" data-callback="enableBtn"></div>

                    {{ with .Site.Params.kontakt.formBtn }}
                        <button class="c-form__submit  js--submitContactForm" type="submit" aria-disabled="true" disabled="disabled">{{ . }}</button>
                    {{ end }}
                </div>
            </div>
        </form>

        <div class="js--contactFeedback  c-form-feedback" hidden></div>
    </div>
</div>
