<div class="o-grid  o-grid--center  u-margin-top-lg  u-margin-bottom-xl  u-margin-top-xl@bp-2  u-margin-bottom-xxl@bp-2  u-type-center">
    <div class="o-grid__item  o-grid__item--11  o-grid__item--9@bp-2">
        <h1 class="u-type-gamma">
            {{ .Site.Params.lakering.hero | markdownify }}
        </h1>
    </div>
</div>

{{ range $index, $content := .Site.Params.lakering.entry }}
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .img ) }}
    {{ $image := false }}

    {{ if $imageResource }}
        {{ $image = $imageResource.Fill "1200x675 center q50" }}
    {{ end }}

    {{ $isOdd := modBool (add $index 1) 2 }}

    <div class="u-margin-bottom-xl  u-margin-bottom-xxl@bp-2  o-grid  o-grid--lg@bp-3  o-grid--center
                {{ if not $isOdd }} o-grid--row-reverse@bp-2 {{ end }}">
        <div class="u-margin-bottom-md  u-margin-bottom-lg@bp-1  u-margin-bottom-xs@bp-2  o-grid__item  o-grid__item--12  o-grid__item--6@bp-2  o-grid__item--7@bp-3  c-fancy-alignment">
            <h2 class="u-type-beta  u-margin-bottom-md@bp-2">
                {{ .title }}
            </h2>

            <div class="c-content">
                {{ .text | markdownify }}
            </div>
        </div>

        <div class="o-grid__item  o-grid__item--12  o-grid__item--10@bp-1  o-grid__item--6@bp-2  o-grid__item--5@bp-3">
            <div class="c-img {{ if $isOdd }} c-img--rev {{ end }}">
                <figure class="c-img__obj  o-format  o-format--wide">
                    {{ if $image }}
                        <img src="{{ $image.RelPermalink }}" loading="lazy" alt="{{ .title }}" class="o-format__obj" data-width="{{ $image.Width }}" data-height="{{ $image.Height }}">
                    {{ else }}
                        <img src="https://dummyimage.com/16:9x675/0da385/fff.jpg&text=Billede+mangler" alt="{{ .title }}" class="o-format__obj" data-width="1200" data-height="675">
                    {{ end }}>
                </figure>
            </div>
        </div>
    </div>
{{ end }}
