{{ "<!-- Site built by Dennis Johnsen | https://www.dennisjohnsen.net -->" | safeHTML }}
<!DOCTYPE html>
<html lang="da" dir="ltr">
    <head>
        {{ partial "init/_head.html" . }}
    </head>

    <body class="c-page">
        {{ block "main" . }}{{ end }}

        {{ partial "init/_scripts.html" . }}
    </body>
</html>
