/*  =========================================================================
    RESTART
    ========================================================================= */

/*  1.  Ensure the page always fills at least the entire height of the viewport.
    2.  Enable scrollbar and disable horizontal scroll on all pages.
    3.  Fonts on OSX will look more consistent with other systems that do not
        render text using sub-pixel anti-aliasing.
    4.  "Disables" tap highlight on iOS
    5.  Sets border-box to everything. Read more at css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
    6.  IE10+ doesn't honor `<meta name="viewport">` in some cases
    7.  Correct flex default values for all elements, as default values are
        not the same in all browsers
*/
html {
    overflow-x: hidden; //2
    overflow-y: scroll; //2
    -moz-osx-font-smoothing: grayscale; //3
    -webkit-font-smoothing:  antialiased; //3
    -webkit-tap-highlight-color: rgba(0,0,0,0); //4
    box-sizing: border-box; //5

    * { //5
        &,
        &:before,
        &:after {
            box-sizing: inherit;
        }
    }
}

@at-root {
    @-ms-viewport {
        width: device-width; //6
    }
}

html,
body {
    min-height: 100vh; //1
}

* {
    &,
    &:before,
    &:after {
        flex: 0 1 auto; //7
    }
}

/*  Default styles
*/
html {
    color: get-type-color('base');
}

a {
    @include hover('txt');
    color: get-type-color('link');
}


/*  Suppress the focus outline on elements that cannot be accessed via keyboard.
    This prevents an unwanted focus outline from appearing around elements that
    might still respond to pointer events.
*/
[tabindex="-1"]:focus {
    outline: 0 !important;
}


/*  A very simple reset that sits on top of Normalize.css.
*/
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin:  0;
    padding: 0;
}


/*  Remove trailing margins from nested lists.
*/
li > {
    ol,
    ul {
        margin-bottom: 0;
    }
}


/*  Remove default table spacing.
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*  1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content; on fieldsets.
*/
fieldset {
    min-width: 0; //1
    border: 0;
}


/*  Reset for blockquotes, so they behave more like regular div's
*/
blockquote,
q {
    quotes: none;

    &:before,
    &:after {
        content: '';
        content: none;
    }
}


/*  Keep images inside viewport
*/
img {
    max-width: 100%;
    height: auto;
}

address {
    display: inline-block;
    font-style: normal;
}
