/*  =========================================================================
    DEBUG
    ========================================================================= */

/*  Accessability & SEO related checks
*/
@include debug {
    a:not([title]) {
        outline: 4px solid orange !important;
        position: relative;

        &:after {
            content: 'TITLE' !important;
            position: absolute !important;
            bottom: 100% !important;
            left: -4px !important;
            @include font-size(10);
            display: block !important;
            padding: 0 2px !important;
            background-color: orange !important;
            color: rgba(0,0,0,.5) !important;
        }
    }

    a:not([href]) {
        outline: 4px solid red !important;
        position: relative !important;

        &:after {
            content: 'HREF' !important;
            position: absolute !important;
            bottom: 100% !important;
            left: -4px !important;
            @include font-size(10);
            display: block !important;
            padding: 0 2px !important;
            background-color: red !important;
            color: rgba(0,0,0,.5) !important;
        }
    }
}

/*  Is grid syntax used correctly?
*/
@include debug {
    .o-grid__item {
        outline: 4px solid red;
        position: relative;

        &:after {
            content: 'Missing .o-grid parent';
            position: absolute;
            bottom: 100%;
            left: -4px;
            @include font-size(10);
            display: block;
            padding: 0 2px;
            background-color: red;
            color: rgba(0,0,0,.5);
        }
    }

    .o-grid > .o-grid__item {
        outline: 0;

        &:after {
            content: none;
        }
    }

    [class*="grid__item--"]:not(.o-grid__item) {
        outline: 4px solid red;
        position: relative;

        &:after {
            content: 'Missing .o-grid__item';
            position: absolute;
            bottom: 100%;
            left: -4px;
            @include font-size(10);
            display: block;
            padding: 0 2px;
            background-color: red;
            color: rgba(0,0,0,.5);
        }
    }
}


/*  This is where there is some debugging css. For an example you can enable a grid overlay
    to see the 12 columns represented for desktop.
*/
@include debug {
    /*  Grid overlay
        https://css-tricks.com/building-css-grid-overlay/
    */
    :root {
        --bp: '';
        @each $breakpoint, $breakpoint-value in $base-breakpoints {
            @include bp-min($breakpoint) {
                --bp: ' @#{$ns--breakpoint-prefix}#{$breakpoint}';
            }
        }
        --description: 'Mobile view' var(--bp);
        --columns: 12;
        --margin: #{get-spacing(sm)};
        --gutter: #{get-spacing(sm)};
        --column-color: #{get-debug-color(blue)};
        --gutter-color: #{get-debug-color(red)};

        @include bp-min($global-mobile-bp) {
            --description: 'Desktop view' var(--bp);
            --margin: #{get-spacing(md)};
            --gutter: #{get-spacing(md)};
        }
    }

    body {
        &:before,
        &:after {
            @include fill-absolute(y);
            display: flex;
            width: calc(100% - (var(--margin) * 2));
            max-width: calc(1440px - (var(--margin) * 2));
            left: 50%;
            transform: translateX(-50%);
            position: fixed;
            z-index: 1000;
            pointer-events: none;
        }

        &:before {
            content: var(--description);
            @include font-size(32);
            align-items: flex-end;
            padding: get-spacing(md) get-spacing(lg);
            right: 0;
            background-color: get-debug-color(green);
            width: auto;
            transform: none;
            left: auto;
            top: auto;
        }

        &:after {
            content: '';
            opacity: .35;
            background-image:
                repeating-linear-gradient(
                    to right,
                    var(--column-color),
                    var(--column-color) calc((100% / var(--columns)) - var(--gutter)),
                    var(--gutter-color) calc((100% / var(--columns)) - var(--gutter)),
                    var(--gutter-color) calc(100% / var(--columns))
                );
            background-size: calc(100% + var(--gutter)) 100%;
            background-position: 0;
        }
    }
}
