/*  =========================================================================
    TYPOGRAHPY - CORE
    ========================================================================= */

body {
    @include type-style('base');
}

h1 {
    @include type-style('alpha');
}

h2 {
    @include type-style('beta');
}

h3 {
    @include type-style('gamma');
}

h4 {
    @include type-style('delta');
}

h5 {
    @include type-style('epsilon');
}

h6 {
    @include type-style('zeta');
}
