/*  =========================================================================
    TYPOGRAHPY - UTILITIES
    ========================================================================= */

/*  Type styles classes
*/
@each $type-style in $type-styles {
    $style-name: nth($type-style, 1);

    .u-type-#{$style-name} {
        @include type-style($style-name, $important: true);
    }
}


/*  Text alignment
*/
.u-type-left {
    text-align: left !important;
}
.u-type-center {
    text-align: center !important;
}
.u-type-right {
    text-align: right !important;
}


/*  Coloring
*/
.u-type-alt-color {
    color: get-type-color('alt');
}
