/*  =========================================================================
    SPACINGS
    ========================================================================= */

$base-spacings: (
    'base': $base-spacing,
    'xs':   ($base-spacing / 4),
    'sm':   ($base-spacing / 2),
    'md':   $base-spacing,
    'lg':   ($base-spacing * 2),
    'xl':   ($base-spacing * 4),
    'xxl':  ($base-spacing * 8)
);

$spacing-types: (
    'horz': (
        'sizes': 'xs' 'sm' 'md' 'lg' 'xl' 'xxl',
        'properties': 'margin' 'padding',
        'directions': '-left' '-right',
    ),
    'vert': (
        'sizes': 'xs' 'sm' 'md' 'lg' 'xl' 'xxl',
        'properties': 'margin' 'padding',
        'directions': '-top' '-bottom'
    ),
    'inset': (
        'sizes': 'xs' 'sm' 'md' 'lg',
        'properties': 'margin' 'padding',
        'directions': null
    )
) !default;

@each $breakpoint, $breakpoint-value in $base-breakpoints {
    @include bp-min($breakpoint) {
        @each $type, $type-data in $spacing-types {
            $sizes: map-get($type-data, 'sizes');
            $properties: map-get($type-data, 'properties');
            $directions: map-get($type-data, 'directions');

            @each $size in $sizes {
                @each $direction in $directions {
                    @each $property in $properties {
                        @if ($breakpoint-value == null) {
                            .u-#{$property}#{$direction}-#{$size} {
                                #{$property}#{$direction}: get-spacing($size) !important;
                            }
                        }
                        @else {
                            .u-#{$property}#{$direction}-#{$size}#{$ns--breakpoint-seperator}#{$ns--breakpoint-prefix}#{$breakpoint} {
                                #{$property}#{$direction}: get-spacing($size) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
