/*  =========================================================================
    GOOGLE MAPS
    ========================================================================= */
.c-google-maps-wrapper {
    display: flex;
    flex-direction: column;

    @include bp-max(3) {
        padding-top: get-spacing('xl');

        p {
            display: none;
        }
    }

    p {
        opacity: 0;
    }
}

.c-google-maps {
    flex-grow: 1;
    position: relative;
    height: 512px;

    @include bp-min(3) {
        height: auto;
    }

    &__obj {
        @include fill-absolute('xy');
        width: 100%;
        height: 100%;
        border: 1px solid rgba(get-ui-color('lighter-grey'), .6);
    }
}
