/*  =========================================================================
    SITE HEADER
    ========================================================================= */

.c-site-header {
    z-index: 20;
    position: absolute;
    top: get-spacing('lg');
    left: 0;
    width: 100%;
    padding: 0 get-spacing('sm');

    @include bp-min($global-mobile-bp) {
        padding: 0 (get-spacing('md') + get-spacing('sm'));
        top: get-spacing('xl');
    }

    &__inner {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @include bp-min($global-mobile-bp) {
            flex-direction: row;
        }
    }

    &__logo {
        width: 142px;
        flex: 0 0 auto;
        fill: get-type-color('alt');
        margin-bottom: get-spacing('md');
        align-self: center;

        @include bp-min($global-mobile-bp) {
            margin-bottom: 0;
        }

        svg {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        @include bp-min($global-mobile-bp) {
            display: flex;
            align-items: center;
            flex: 1 0 auto;
            margin-left: get-spacing('xl');
            margin-bottom: 4px;
        }

        &.is--sticky {
            position: fixed;
            top: -120px;
            left: 0;
            width: 100%;
            margin: 0;
            justify-content: center;
            transform: translateY(0);
            transform-origin: right;
            transition: transform 200ms ease-in-out;
            background-color: get-type-color('alt');
            box-shadow: 0 0 15px rgba(black, .2);

            &.is--revealed {
                transition-duration: 500ms;
                transform: translateY(120px);
            }
        }
    }
}

.c-site-nav {
    justify-content: space-around;
    align-items: center;

    .is--sticky & {
        // transform: skew(0, -$global-skew) translateY(.5vw);
    }

    &__item {
        display: flex;

        &--intro {
            display: none;
        }

        @include bp-min(4) {
            margin: 0 get-spacing('sm');
        }

        .is--sticky & {
            margin: get-spacing('md') 0;
            transform: translateZ(0);
        }
    }

    &__link {
        @include type-style('delta');
        color: get-type-color('alt');
        text-decoration: none;
        padding: (get-spacing(xs) / 2) get-spacing('md');
        flex: 1 0 auto;
        font-weight: get-base-font-weight('bold');

        .is--sticky & {
            color: get-type-color('base') !important;
            padding: get-spacing(xs) (get-spacing('md') - get-spacing(xs));

            @include bp-min(3) {
                padding: get-spacing('sm') (get-spacing('md') - get-spacing(xs));
            }
        }

        &:hover,
        &:active,
        &:focus {
            color: get-type-color('alt');
            @include hover('txt');
        }
    }
}
