/*  =========================================================================
    PAGE
    ========================================================================= */

.c-page {
    background-color: get-type-color('alt');

    &__section {
        padding: (get-spacing('lg') + get-spacing('md')) 0;
    }
}

.c-section {
    position: relative;
    display: flex;
    align-items: center;

    &--intro {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        min-height: 66vh;
        padding: (get-spacing('xxl') + get-spacing('xl') + get-spacing('md')) get-spacing('lg') (get-spacing('xxl') - get-spacing('md'));
        transform: translateY(0);

        @include bp-max($global-mobile-bp) {
            padding-top: (get-spacing('xxl') * 2);
        }

        &:after {
            @include fill-absolute('xy');
            content: '';
            background-size: cover;
            background-image: linear-gradient(102deg, rgba(get-color('base'), .5) 0%, rgba(get-color('alt'), .5) 100%);
        }
    }

    &--lakering {
        &:before,
        &:after {
            content: '';
            display: block;
            height: 5vw;
            background-color: get-type-color('alt');
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
        }

        &:before {
            top: 0;
            transform: skew(0, -$global-skew);
            transform-origin: left;
            box-shadow: 0 -12px 12px rgba(black, .1);
        }

        &:after {
            bottom: 0;
            transform: skew(0, $global-skew);
            transform-origin: left;
            box-shadow: 0 12px 12px rgba(black, .1);
        }

        .section__inner {
            position: relative;
            z-index: 2;
        }
    }

    &--galleri {
        background-color: #ddd;
        background-image: linear-gradient(65deg, rgba(get-color('alt'), .5) 0%, rgba(get-color('base'), .5) 100%);
        background-size: cover;
        background-position: center 0;
    }

    &--kontakt {
        &:before {
            content: '';
            display: block;
            height: 4vw;
            background-color: get-type-color('alt');
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            transform: skew(0, -$global-skew);
            transform-origin: left;
            box-shadow: 0 -12px 12px rgba(black, .1);
        }

        .c-section__inner {
            position: relative;
            z-index: 2;
        }
    }
}

.c-fancy-alignment {
    align-self: center;
}
