/*  =========================================================================
    INTRO
    ========================================================================= */

.c-intro-bg {
    position: absolute;
    top: - get-spacing('md');
    left: - get-spacing('md');
    right: - get-spacing('md');
    bottom: - get-spacing('md');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: grayscale(70%) blur(2px) brightness(120%) contrast(110%);
    backface-visibility: hidden;
    perspective: 1000px;
}

.c-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: get-type-color('alt');
    position: relative;
    z-index: 1;

    @include bp-min($global-mobile-bp) {
        flex-direction: row;
    }

    &__txt,
    &__item {
        @include type-style('alpha');
    }

    &__txt {
        flex: 0 0 auto;
        white-space: nowrap;
        overflow: hidden;

        span {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
    }

    &__list {
        flex: 0 0 auto;
        list-style: none;
        position: relative;
        overflow: hidden;
        padding: 0 .75em;
        box-sizing: content-box;
        margin-top: - get-spacing('sm');

        @include bp-min($global-mobile-bp) {
            transition: width 150ms ease;
            margin-top: 0;
        }
    }

    &__item {
        font-weight: $global-font-weight--header;
        position: absolute;
        text-transform: lowercase;
        white-space: nowrap;
        overflow: hidden;
    }
}
