/*  =========================================================================
    FORM
    ========================================================================= */
.c-form {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__area {
        display: flex;
        justify-content: center;
    }

    &__submit {
        @include type-style('delta');
        @include make-btn-init();
        background-color: get-color('base');
        color: get-type-color('alt');
        padding: get-spacing('sm') get-spacing('lg');
        box-shadow: 0 11px 22px -9px rgba(black, .4);

        &[disabled] {
            display: none !important;
        }
    }
}

.c-form-group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: get-spacing('md');
    position: relative;

    &__label {
        @include type-style('delta');
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: get-spacing('xs');
        position: relative;

        @include bp-min($global-mobile-bp) {
            margin-bottom: get-spacing('sm');
        }

        .error {
            display: flex;
            align-items: center;
            @include type-style('epsilon');
            position: absolute;
            @include fill-absolute('x');
            bottom: - get-spacing('sm');
            background-color: get-color('warning');
            color: rgba(get-ui-color('white'), .9);
            padding: get-spacing('sm');

        }
    }

    &__icon {

    }

    &__required {
        transform: scale(1.5) translate(2px, 2px);
        color: get-color('danger');
        opacity: .5;
    }

    &__control {
        appearance: none;
        font-size: 1rem;
        flex-grow: 1;
        display: block;
        width: 100%;
        padding: (get-spacing('md') - get-spacing('xs')) (get-spacing('md') - get-spacing('xs'));
        line-height: 19px;
        background-color: get-ui-color('white');
        border: 1px solid rgba(get-ui-color('lighter-grey'), .6);
        transition: border .2s ease-in-out;
        resize: none;
        border-radius: 0;

        &:focus {
            outline: 0;
            border-color: get-color('base');
        }

        &--textarea {
            min-height: 200px;
        }

        &.error {
            border-color: get-color('warning');
        }
    }
}

.c-form-feedback {
    margin: get-spacing('xl') get-spacing('md');
    color: get-ui-color('white');
    padding: get-spacing('md');
    text-align: center;

    @include bp-min($global-mobile-bp) {
        margin: get-spacing('xl');
    }

    @include bp-min($global-tablet-bp) {
        margin: get-spacing('xxl') get-spacing('xl');
    }

    &.is--success {
        background-color: get-color('success');
    }

    &.is--fail {
        background-color: get-color('danger');
    }
}
