/*  =========================================================================
    IMAGE
    ========================================================================= */

.c-img {
    backface-visibility: hidden;
    position: relative;
    transform: skew(0, $global-skew);
    overflow: hidden;
    box-shadow: 0 11px 22px -9px rgba(black, .4);

    &__obj {
        transform: skew(0, -$global-skew) scale(1.05);
    }

    &--rev {
        transform: skew(0, -$global-skew);

        .c-img__obj {
            transform: skew(0, $global-skew) scale(1.05);
        }
    }
}
