/*  =========================================================================
    CONTENT
    ========================================================================= */

.c-gallery {
    @include make-grid-row('sm',  $inset: true);

    &__item {
        @include make-grid-col-init('sm',  $inset: true);
        @include make-grid-col(6);
        position: relative;

        @include bp-max($global-mobile-bp) {
            &:nth-child(2n) {
                top: 1.35vw;
            }
        }

        @include bp-min($global-mobile-bp) {
            @include make-grid-col(4);

            &:nth-child(3n+2) {
                top: .90vw;
            }

            &:nth-child(3n+3) {
                top: 1.80vw;
            }
        }

        @include bp-min(4) {
            &:nth-child(3n+2) {
                top: 13px;
            }

            &:nth-child(3n+3) {
                top: 26px;
            }
        }
    }

    &__link {
        display: block;
        position: relative;
        cursor: zoom-in;
        opacity: 1 !important;

        &.is--maximized {
            cursor: zoom-out;
            opacity: 1 !important;

            &:before {
                content: '\00d7';
                position: fixed;
                top: get-spacing('sm');
                right: get-spacing('sm');
                color: get-ui-color('white');
                @include font-size(58);
                line-height: 20px;
                z-index: 100;
                text-shadow:  0 0 8px rgba(black, .6);
            }
        }

        &.is--closing {
            // z-index: 1;
        }
    }

    &__img-wrapper {
        &:hover,
        &:active,
        &:focus {
            // @include hover('img');

            .c-gallery__img {
                filter: saturate(1) contrast(100%) brightness(100%);
            }
        }
    }

    &__img {
        filter: saturate(0.1) contrast(80%) brightness(120%);
    }
}

.c-gallery-backdrop {
    background-color: rgba(black, .5);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: zoom-out;
    transform: translateZ(0); // Activating gpu rendering

    transition: opacity $global-gallery-speed ease-in-out, visibility 0s linear $global-gallery-speed;
    visibility: hidden;
    opacity: 0;

    &.is--maximized {
        transition: opacity $global-gallery-speed ease-in-out, visibility 0s linear;
        opacity: 1;
        visibility: visible;
    }
}

.c-gallery-modal {
    position: absolute;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(0); // Activating gpu rendering

    transition: all $global-gallery-speed ease-in-out, opacity ($global-gallery-speed * 1.3) ease-in-out, visibility 0s linear ($global-gallery-speed * 1.3);
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    .is--maximized & {
        transition: all $global-gallery-speed ease-in-out, visibility 0s linear;
        opacity: 1;
        visibility: visible;
        padding: get-spacing('sm');

        @include bp-min(3) {
            padding: get-spacing('md');
        }
    }

    &__img {
        width: 100%;
        height: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
