/*  =========================================================================
    CONTENT
    ========================================================================= */

/*  This component will add some better styling for clean html elements, that comes
    directly from rich-text or markdown editors.

    So it's a god idea to add this class to all elements that contains big blocks of
    ediotorial texts
*/

.c-content {
    word-break: break-word; // Making sure long links break

    blockquote, p, pre,
    dl, ol, ul,
    figure,
    hr,
    fieldset, legend {
        margin-bottom: get-spacing(md);
    }

    ul, ol, dd {
        margin-left: get-spacing(lg);
    }

    dt {
        font-weight: get-base-font-weight('bold')
    }

    li, dd {
        margin-bottom: get-spacing(xs);
    }

    dd + dt {
        margin-top: get-spacing(md);
    }

    h2, h3, h4, h5, h6 {
        margin-top: get-spacing(lg);
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
