{{ define "main" }}
    <header class="c-page__header  c-site-header" role="banner">
        <div class="c-site-header__inner  o-wrapper">
            <a class="c-site-header__logo" title="{{ .Site.Title }}" href="#intro" data-smooth-scroll>
                <img src="img/hm-autolakering.png" alt="{{ .Site.Title }} Logo">
            </a>

            <nav class="c-site-header__nav" role="navigation">
                <ul class="c-site-nav  o-nav">
                    {{ range .Site.Menus.site }}
                        {{ $isIntro := (eq (urlize .Name) "intro") }}

                        <li class="c-site-nav__item  c-site-nav__item--{{ urlize .Name }}" {{ if ($isIntro) }} hidden {{ end }}>
                            <a class="c-site-nav__link" href="#{{ urlize .Name }}" title="{{ .Title }}" data-smooth-scroll>
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}
                </ul>

                {{/* <ul class="social-nav">
                    <li class="social-nav__item  social-nav__item--face">
                        <a href="" class="social-nav__link">

                        </a>
                    </li>

                    <li class="social-nav__item  social-nav__item--phone">
                        <a href="" class="social-nav__link">

                        </a>
                    </li>

                    <li class="social-nav__item  social-nav__item--addr">
                        <a href="" class="social-nav__link">

                        </a>
                    </li>
                </ul> */}}
            </nav>
        </div>
    </header>

    <article class="c-page__content" role="main">
        {{ $currentPage := . }}
        {{ range .Site.Menus.site }}
            <section class="c-page__section  c-section  c-section--{{ urlize .Name }}" id="{{ urlize .Name }}">
                <div class="c-section__inner  o-wrapper">
                    {{ $section := (printf "%s%s%s" "sections/_" (urlize .Name) ".html") }}
                    {{ partial $section $currentPage }}
                </div>
            </section>
        {{ end }}
    </article>
{{ end }}
